* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* width: 100%; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Italianno', cursive; */
}
:root {
  width: 100%;

  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

/* body {
  
} */

#text {
  font-family: Angkor, cursive;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  font-size: 35px;
  color: rgba(169, 82, 15, 0.59);

  text-shadow: rgba(168, 168, 168, 0.62) 2px 2px 2px;
}

/* ------------------ Navbar ------------- */

.container {
  width: 100%;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  border-top: 2px solid rgb(140, 104, 104);
  border-bottom: 3px solid rgb(214, 149, 149);
  display: flex;
  justify-content: space-between;
}

nav {
  width: 75%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style-type: none;
}

nav ul li {
  font-size: 18px;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #000;
  font-weight: 600;
}

p {
  color: #555;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-right: 20px;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #eae5e5;
  border: none;
  color: #090707;
  padding: 1.1rem 1rem;
  border-radius: 30px;
  width: 15em;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}
.search__input::placeholder {
  font-size: 16px;
  font-weight: 700;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #000000;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #eae5e5;

  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  background-color: #eae5e5;
  fill: #110b0b;
}
.userr {
  list-style-type: none;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 5px;
}
#user {
  /* font-size: 25px; */
  display: none;
}
#In_Out:hover ul #user {
  display: contents;
  width: 130px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  right: 150px;
}
#user a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 38px;
  font-size: 22px;
  color: #f3fde8;
  background-color: #ff523b;
  border-radius: 50px;
}
.circleUser {
  font-size: 35px;
  color: #ae5b50;
}
#user a:first-child:hover {
  color: green;
  font-size: 25px;
}
#user a:last-child:hover {
  color: red;
}
#user a:nth-child(2) {
  margin-top: 45px;
}
#user a:nth-child(2):hover {
  color: #068fff;
}
#user a:hover {
  background-color: transparent;
  box-shadow: 3px 3px 9px #a8a196;
}
/* .cartt{
  
  display: flex;
  align-items: center;
  color:#363636ed;

  font-size: 20px;
 } */

.btnn {
  padding: 0.1em 0.05em;
  width: 13em;
  height: 4em;
  background-color: #f66c6c;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
}

.btnn span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.3em;
  width: 8.25em;
  height: 2.2em;
  background-color: #ff523b;
  /* background-color: #cd5a5a;d */
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

.btnn span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.2em);
  box-shadow: 0 0 0 0 #fff;
}

.btnn span:not(hover) {
  transition: all 1s;
}

/* ------------------ Hero Section ----------------- */

.header-2 {
  background: radial-gradient(#fff, #ffd6d6);
}
.row {
  /* max-width: 1300px; */
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 20px;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 3px 0px;
}
.col-2 h1 {
  font-size: 60px;
  line-height: 80px;
  margin: 45px 40px;
  color: #3c3838;
}
.col-2 p {
  font-size: 25px;
  line-height: 40px;
  margin: 45px 40px;
}
.col-2-span {
  padding: 30px;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 14px 30px;
  margin: 10px 25px;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #6f4444;
  color: #fff;
}

/* ===================Product container ================ */
.small-container {
  min-width: 100px;
  margin: auto;
  height: 100%;
  /* background-color: #068fff28; */
  /* padding-left: 25px;
 padding-right: 25px; */
  /* padding-left: 10px;
  padding-right: 10px; */
}
.row-2 {
  justify-content: space-between;
  margin: 30px auto 50px;
  padding: 40px 50px;
}
select {
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus {
  outline: none;
}
.page-btn {
  margin: 0px auto 80px;
}
.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover {
  background: #ff523b;
  color: #fff;
}

/* ========Product Card============= */

/* .priceAndBtn{
  display: flex;
  height: 80px;
  flex-direction: column;
  justify-content: space-evenly;
  

} */
/* From uiverse.io by @alshahwan */
.cartBtn {
  background-color: #fff;
  border: 1px solid #bc2a8d;
  padding: 5px;
  position: absolute;
  bottom: 65px;
  width: 7.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
}

.cartBtn p {
  position: absolute;
  top: 0.4em;
  left: 1.2em;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  color: #bc2a8d;
}

.cartBtn svg {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff;
}

.cartBtn:hover p {
  left: 0.6em;
  color: #fff;
}

.cartBtn:hover svg {
  opacity: 1;
}

.cartBtn:hover {
  background-color: #bc2a8d;
}

.reviewBtn {
  font-family: PlusJakartaSans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Cantarell, Helvetica Neue, Ubuntu, sans-serif;
  font-size: 1rem;
  align-items: center;
  height: 48px;
  border-radius: 0.4rem;
  font-weight: 600;
  padding: 0 0.2rem;
  color: #595656;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
  /* background: #23588e; */
  position: absolute;
  bottom: 10px;
}

.reviewCount {
  font-size: 0.8rem;
  color: #010101;
}

/* .reviewBtn:hover {
  background: #462e2e;
 } */

/* =================cart================ */
.paybtn {
  text-decoration: none;
  line-height: 1;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  /* background-color: #fff; */
  background-color: #ff523b;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 140px;
  margin-top: 20px;
  margin-top: 20px;
}

.paybtn-decor {
  position: absolute;
  inset: 0;
  background-color: #ff523b;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: 0;
}

.paybtn-content {
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.paybtn__icon {
  width: 48px;
  height: 40px;
  background-color: #ff523b;
  display: grid;
  place-items: center;
}

.paybtn__text {
  display: inline-block;
  transition: color 0.2s;
  padding: 2px 1.5rem 2px;
  padding-left: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}

.paybtn:hover .paybtn__text {
  color: #000000;
}

.paybtn:hover .paybtn-decor {
  transform: translate(0);
}
.paybtn__icon:hover {
  /* background-color: black; */
  transform: translate(10px);
}

/* -------------- featured catefories ---------------- */
.categories {
  /* margin: 70px 0px; */
  margin: 30px 0px;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
  /* width: 200px; */
}

/* <!----------------featured Product----------- --> */

.col-4 {
  max-width: 350px;
  min-height: 530px;
  flex-basis: 25%;
  padding: 10px 20px;

  margin-bottom: 50px;
  transition: transform 0.5s;
  /* padding: 1.2em; */
  background: #f5f5f5;
  position: relative;
  margin-top: 5px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.col-4 img {
  width: 280px;
  height: 280px;
  /* object-fit: cover; */
}
.col-4 img:hover {
  transform: scale(105%);
  transition: all ease-in-out 0.5s;
}
.title {
  text-align: center;
  margin: 0px auto 20px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 15px;
}
.rating .fa-solid,
.fa-regular {
  color: #ff523b;
}
.col-4:hover {
  transform: translateY(-5px);
}

/* ------------ Offer --------- */
.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 20px;
  padding: 30px 0px;
}
.col-2 .offer-img {
  padding: 50px;
}
small {
  color: #555;
}

/* --------- testimonial ---------- */
.testimonial {
  padding-top: 50px;
}
.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial .col-3:hover {
  transform: translateY((-10px));
}
.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}
.col-3 p {
  font-size: 12px;
  margin: 12px 0px;
  color: #777;
}
.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/* -----------------Brands ------------ */
.brands {
  margin: 20px auto;
}
.col-5 {
  width: 160px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover {
  filter: grayscale(0);
}

/* <!-- ------------------Footer ---------- --> */
.footer {
  /* max-width: 1300px; */
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 30px 0px 20px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 212px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
  text-align: center;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 h1 {
  margin-bottom: 50px;
}
/* .footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
} */
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0px;
}
.copyright {
  text-align: center;
}

.menu-icon {
  /* width: 58px; */
  color: #f4f4f4;
  font-size: 25px;
  margin-left: 35px;
  transition: all ease-in-out 5s;
  border-radius: 4px;

  display: none;
}

/* <!-- ------------- single product details ------------- --> */
.single-product {
  background-color: #00000058;
  margin-top: 80px;
}
.single-product .col-2 {
  padding: 20px;
}

.single-product .col-2 img {
  padding: 0px;
}
.single-product h4 {
  margin: 20px 50px;
  font-size: 22px;
  font-weight: bold;
}
.single-product select {
  width: 7.8rem;
  display: block;
  padding: 12px;
  margin: 20px 50px 0px;
}
.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-left: 50px;
  border: 1px solid #ff523b;
}
input:focus {
  outline: none;
}
.single-product .fa-indent {
  font-size: 40px;
  color: #ff523b;
  margin-left: 10px;
  margin-bottom: -12px;
}
.small-img-row {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.coll-2 h3 {
  font-size: 22px;
  margin-top: 40px;
  margin-left: 50px;
}
.coll-2 p {
  /* margin-top: -5px; */
  /* font-size: 18px; */
  margin-right: 6px;
}
/* <!-- ----------------- cart items details ----------------- --> */
.cart-page {
  margin: 50px auto;
  /* padding: px; */
}
table {
  width: 100%;
  border-collapse: collapse;
  /* padding: 200px; */
}

.cart-info {
  display: flex;

  flex-wrap: wrap;
}
th {
  text-align: left;
  padding: 15px 30px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}
td {
  padding: 10px 20px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
.linkTag {
  color: #ff523b;
  font-size: 12px;
}
td img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}
.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 400px;
}
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}

/* <!-- ------------ account page ----------- --> */
.account-page {
  padding: 50px 0px;
  background: radial-gradient(#fff, #ffd6d6);
}
.form-container {
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0px;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container span {
  font-weight: bold;
  padding: 0px 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn {
  display: inline-block;
}
.form-container form {
  max-width: 300px;
  padding: 0px 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}
form input {
  width: 100%;
  height: 30px;
  margin: 10px 0px;
  padding: 0px 10px;
  border: 1px solid #ccc;
}
form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0px;
}
form .btn:focus {
  outline: none;
}
form a {
  font-size: 12px;
}
#LoginForm {
  left: -300px;
}
#RegForm {
  left: 0px;
}
#Indicator {
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}

/* -------------media query for menu --------------- */

@media only screen and (max-width: 768px) {
  nav ul {
    position: absolute;
    top: 57px;
    left: 0px;
    background: rgba(249, 249, 249, 0);
    box-shadow: 0 8px 32px 0 rgba(217, 216, 221, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;

    width: 100%;
    overflow: hidden;

    transition: all ease-in-out 1s;
    align-items: end;

    flex-direction: column;
  }
  nav ul li {
    display: block;
    margin-right: 7px;

    margin-bottom: 10px;
  }

  nav ul li a {
    color: #080808;
  }
  .menu-icon {
    display: block;
    background: #000;

    cursor: pointer;
  }

  .search {
    position: relative;
    left: 70px;
  }

  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #cac8c8;
    border: none;
    color: #090707;
    padding: 1.1rem 1rem;
    border-radius: 30px;
    width: 15em;
    transition: all ease-in-out 0.5s;
    margin-right: -2rem;
  }
  .search__input::placeholder {
    font-size: 16px;
    font-weight: 700;
  }
  .search__input:hover,
  .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }

  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }

  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #000000;
  }

  .search__input:focus + .search__button {
    background-color: #f3eeee;
  }

  .search__button {
    border: none;
    background-color: #cac8c8;

    margin-top: 0.1em;
  }

  .search__button:hover {
    cursor: pointer;
  }

  .search__icon {
    height: 1.3em;
    width: 1.3em;
    background-color: #cac8c8;
    fill: #110b0b;
  }

  .btnn {
    padding: 0.1em 0.05em;
    width: 12em;
    height: 3em;
    background-color: #f66c6c;
    border: 0.04em solid #fff;
    border-radius: 10em;
    font-size: 12px;
  }

  .btnn span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.3em;
    width: 8em;
    height: 2.5em;
    background-color: #ff523b;
    /* background-color: #cd5a5a;d */
    border-radius: 0.5em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
  }

  .btnn span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.2em);
    box-shadow: 0 0 0 0 #fff;
  }

  .btnn span:not(hover) {
    transition: all 1s;
  }

  .userr {
    display: none;
  }

  /* -------------media query for hero-section --------------- */
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  .col-2 img {
    width: 75%;
    /* max-width: 100%; */
    padding: 48px 0px;
  }
  .col-2 h1 {
    font-size: 30px;
    line-height: 40px;
    margin: 25px 20px;
    color: #3c3838;
  }
  .col-2 p {
    font-size: 13px;
    line-height: 20px;
    margin: 25px 20px;
  }
  .col-2-span {
    padding: 30px;
  }

  /* -------------media query for product cart --------------- */
  .row {
    padding: 0px 20px;
  }
  .col-4 {
    max-width: 350px;
    min-height: 525px;
    flex-basis: 50%;
    padding: 10px 20px;

    margin-bottom: 50px;
    transition: transform 0.5s;
    /* padding: 1.2em; */
    background: #f5f5f5;
    position: relative;
    margin-top: 5px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  /* -------------media query for featured Product --------------- */
  .col-3 {
    flex-basis: 33%;
    min-width: 350px;
    margin-bottom: 30px;
  }
  /* =============footer============ */

  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 50%;
    margin-bottom: 20px;
  }
}

/* ====================isLoading============== */
.lds-hourglass {
  display: inline-block;
  position: relative;
  left: 50%;
  top: 180px;
  /* margin-bottom: 100PX; */
  width: 180px;
  height: 500px;
  /* background: #000; */
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #000000;
  border-color: #c56464 transparent #d7da2c transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}

/* =======================isError========== */
.wrapper {
  width: 100%;
  /* height: 600px; */
  padding: 80px;
}
.cls-1 {
  fill: #ffc541;
}

.cls-2 {
  fill: #4e4066;
}

.cls-3 {
  fill: #6f5b92;
}

.cls-4 {
  fill: #f78d5e;
}

.cls-5 {
  fill: #fa976c;
}

.cls-6,
.cls-7,
.cls-8 {
  fill: #b65c32;
}

.cls-10,
.cls-6 {
  opacity: 0.6;
}

.cls-7 {
  opacity: 0.4;
}

.cls-9 {
  fill: #f4b73b;
}

.cls-11 {
  fill: #f9c358;
}

.cls-12 {
  fill: #9b462c;
}

.cls-13 {
  fill: #aa512e;
}

.cls-14 {
  fill: #7d6aa5;
}

/* animations */

.wheel {
  animation: wheel-rotate 6s ease infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wheel-rotate {
  50% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  100% {
    transform: rotate(960deg);
  }
}

.clock-hand-1 {
  animation: clock-rotate 3s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

.clock-hand-2 {
  animation: clock-rotate 6s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes clock-rotate {
  100% {
    transform: rotate(360deg);
  }
}

#box-top {
  animation: box-top-anim 2s linear infinite;
  transform-origin: right top;
  transform-box: fill-box;
}

@keyframes box-top-anim {
  50% {
    transform: rotate(-5deg);
  }
}

#umbrella {
  animation: umbrella-anim 6s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes umbrella-anim {
  25% {
    transform: translateY(10px) rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

#cup {
  animation: cup-rotate 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  transform-origin: top left;
  transform-box: fill-box;
}

@keyframes cup-rotate {
  50% {
    transform: rotate(-5deg);
  }
}

#pillow {
  animation: pillow-anim 3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes pillow-anim {
  25% {
    transform: rotate(10deg) translateY(5px);
  }
  75% {
    transform: rotate(-10deg);
  }
}

#stripe {
  animation: stripe-anim 3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes stripe-anim {
  25% {
    transform: translate(10px, 0) rotate(-10deg);
  }
  75% {
    transform: translateX(10px);
  }
}

#bike {
  animation: bike-anim 6s ease infinite;
}

@keyframes bike-anim {
  0% {
    transform: translateX(-1300px);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  100% {
    transform: translateX(1300px);
  }
}

#rucksack {
  animation: ruck-anim 3s linear infinite;
  transform-origin: top;
  transform-box: fill-box;
}

@keyframes ruck-anim {
  50% {
    transform: rotate(5deg);
  }
}

.circle {
  animation: circle-anim ease infinite;
  transform-origin: center;
  transform-box: fill-box;
  perspective: 0px;
}

.circle.c1 {
  animation-duration: 2s;
}

.circle.c2 {
  animation-duration: 3s;
}

.circle.c3 {
  animation-duration: 1s;
}

.circle.c4 {
  animation-duration: 1s;
}

.circle.c5 {
  animation-duration: 2s;
}

.circle.c6 {
  animation-duration: 3s;
}

@keyframes circle-anim {
  50% {
    transform: scale(0.2) rotateX(360deg) rotateY(360deg);
  }
}

.four,
#ou {
  animation: four-anim cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

.four.a {
  transform-origin: bottom left;
  animation-duration: 3s;
  transform-box: fill-box;
}

.four.b {
  transform-origin: bottom right;
  animation-duration: 3s;
  transform-box: fill-box;
}

#ou {
  animation-duration: 6s;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes four-anim {
  50% {
    transform: scale(0.98);
  }
}

.cart-container {
  min-height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cart-items {
  width: 60%;
}

.bill-section {
  width: 30%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
  flex-direction: column;
}

.bill-section h1 {
  font-size: 26px;
  text-align: center;
}
.pay-btn {
  border: none;
  background-color: #36008e;
  padding: 10px 80px;
  color: #fff;
  border-radius: 20px;
  width: 80%;
}

.cart-item {
  min-height: 250px;
  padding: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
}

.cart-item h1 {
  font-size: 32px;
}

.cart-item img {
  height: 150px;
}

.cart-item span {
  margin-left: 50px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-item span h3 {
  margin-bottom: 10px;
}
.cart-item span strong {
  border: 1px solid black;
  padding: 0px 10px;
  margin: 0 8px 0 8px;
  cursor: pointer;
}

.remove-btn {
  border: none;
  background-color: #d30000;
  padding: 10px 60px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
}
@media (max-width: 768px) {
  .bill-section {
    width: 100%;
  }
  .cart-item span {
    text-align: center;
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .cart-item span h1 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .cart-item {
    padding: 20px;
    height: auto;
    position: relative;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
  }

  .cart-item h1 {
    font-size: 20px;
  }
}

/* #h3text {
  color: black;
} */
